<section id="nossos-produtos" class="products">
    <article>
        <img src="./assets/images/aroma-03.png" alt="Nossos Produtos" />
    </article>
    <article>
        <h2>Nossos Produtos</h2>
        <h3>Loren Ipsum</h3>
        <p>Integer eget ex non urna sollicitudin tincidunt. Fusce arcu nunc, dictum sed lectus a, cursus mattis urna. Curabitur hendrerit nisl quis velit suscipit iaculis nec fermentum leo. Suspendisse potenti. Fusce tristique tellus vel ultricies tempor. Donec pharetra ante vitae nunc imperdiet, at hendrerit justo ultrices.</p>
        <button>Veja mais</button>
    </article>
</section>