<section id="sobre" class="about">
    <h2>Bem-vindo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada volutpat tincidunt. In ullamcorper dignissim velit, vitae rutrum ex feugiat in. Phasellus sit amet finibus massa, a rutrum nulla. Nunc dolor leo, dictum vitae eros sit amet, eleifend elementum nisi. Phasellus lacinia risus id tristique feugiat. Vestibulum cursus eros accumsan sem fringilla interdum.</p>
    <article>
        <a href="">
            <img src="./assets/images/facebook.png" alt="Facebook"/>
        </a>
        <a href="">
            <img src="./assets/images/linkedin.png" alt="Linkedin" />
        </a>
        <a href="">
            <img src="./assets/images/instagram.png" alt="Instagram" />
        </a>
    </article>
    <article class="aboutProducts">
        <section>
            <header><img src="./assets/images/aroma-04.png" alt="Produto" /></header>
            <article>
                <h4>Lorem ipsum</h4>
                <p>Phasellus pretium, nibh vel ultrices elementum, lectus purus vehicula tortor, eleifend venenatis turpis nunc et mi. Sed porta leo in aliquet porttitor. Nunc congue cursus volutpat.</p>
            </article>
        </section>
        <section>
            <header><img src="./assets/images/aroma-05.png" alt="Produto" /></header>
            <article>
                <h4>Lorem ipsum</h4>
                <p>Phasellus pretium, nibh vel ultrices elementum, lectus purus vehicula tortor, eleifend venenatis turpis nunc et mi. Sed porta leo in aliquet porttitor. Nunc congue cursus volutpat.</p>
            </article>
        </section>
        <section>
            <header><img src="./assets/images/aroma-06.png" alt="Produto" /></header>
            <article>
                <h4>Lorem ipsum</h4>
                <p>Phasellus pretium, nibh vel ultrices elementum, lectus purus vehicula tortor, eleifend venenatis turpis nunc et mi. Sed porta leo in aliquet porttitor. Nunc congue cursus volutpat.</p>
            </article>
        </section>
    </article>
</section>
