<section id="local" class="local">
    <article>
        <section><img src="./assets/images/aroma-01.png" alt="Local" /></section>
        <section>
            <h3>Loren Ipsum</h3>
            <p>Aenean accumsan risus orci, quis sodales justo suscipit non. Duis nec tortor ut eros faucibus consequat ut eu metus. Sed tellus nibh, euismod at suscipit sit amet, sagittis quis sem. Aliquam viverra dui accumsan sapien varius, non dictum elit hendrerit. Phasellus fringilla rutrum sollicitudin. Maecenas viverra lorem vitae lobortis accumsan. Praesent lobortis eleifend sem vestibulum laoreet.</p>
        </section>
        <section><img src="./assets/images/aroma-02.png" alt="Local" /></section>
    </article>
    <article>
        <a href="">
            <img src="./assets/images/facebook-01.png" alt="Facebook" /><br />Facebook
        </a>
        <a href="">
            <img src="./assets/images/instagram-01.png" alt="Instagram" /><br />Instagram
        </a>
    </article>
</section>
